@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-weight: bolder;
  font-size: 1.5rem;
}

h3 {
  font-weight: bolder;
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

button {
  padding: 0.5rem 0.5rem;
  background-color: #2563eb;
  color: white;
  border-radius: 0.3rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
